
<!DOCTYPE html>
<html>
    <head>
    <title> Help | Ruby on Rails Tutorial Sample App
    </title>
    </head>


<body>
<h1>StaticPages#help</h1>
<p>
to get help call 911 or visit
<a href="polizei.de">
    the police</a>
<br>
<br>
peace out
</p>
</body>
</html>